.row {
    margin: 2px;
}

body {
    padding-top: 70px;
    width: 100%;
    
}
.container-fluid {
    height: 40px;
    padding-bottom: 9px;
    padding-top: 1px;}

.container-pictures .container-fluid .container-header{
    width: 100%;
}

button.btn.btn-outline-secondary {
    border: none;
}
.col-4{
    padding-left: 1px;
    padding-right: 1px;
}
.NewPost {
    display: flex;
}
.Topbar{
    flex-wrap:nowrap;
    margin-top: 10px;
}
.container-fluid{
    flex-wrap: nowrap;
}